.logo-container1{
    left: 0;
    // position: absolute;
    top: 0;
    // width: 100%;
  
}
.img-logo1{
    width: 167px;
     padding-top: 22px;
    padding-left: 25px;
    // overflow: hidden;
    z-index: 2;
position:absolute

 
}
.signin-btn-conatiner{
   
}