.logo-container1{
    left: 0;
    // position: absolute;
    top: 0;
    // width: 100%;
  
}
.img-logo1{
    width: 167px;
     padding-top: 22px;
    padding-left: 25px;
    z-index: 2;
position:absolute

 
}
#input-group-1{
   width : 25rem;
   background-color: black;
  
}
#signup-container{
   padding-left: 50vh;
   margin-top: 25vh;
  
}
#divider-first{
border-color: rgb(45,45,45);
}
#divider-first2{
    border-color: rgb(45,45,45);
    }
    #divider-first3{
        border-color: rgb(45,45,45);
        }
        #divider-first4{
            border-color: rgb(45,45,45);
            }
            #divider-first5{
                border-color: rgb(45,45,45);
                }
.line-one{
    margin: 1.5rem 0 0;
}


.pik-container{
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.video-container{
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.first-block-container{
    padding: 0 0 0 22vh;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    width: 50rem;
}

.download-gif-container{
    width: 3rem;
    height: 3rem;
    outline: 2px solid rgb(0,0,0);
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    content: '';
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.stranger-container{
    text-align: left;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    margin: 0.3rem 0;
}
.blockImage-container{
    margin: 0 1rem 0 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .blockImage-mainContainer{
    border-width: 2px;
    height: 11vh;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 8%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
    background: rgb(0,0,0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60%;
    min-width: 15rem;
    padding: 0.25rem 0.65rem;
    border: 2px solid rgba(128,128,128,0.7);
    box-shadow: 0 0 2em 0 rgb(0,0,0);
    border-radius: 0.75rem;
    z-index: 1;
    
  }
  .block-image{
    height: 5rem
  }
  .blue-label{
    color: #0071eb;
  }
  .main-container-block{
    width: 40px
  }
  .first-block-container1{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    width: 36rem;
  margin-right: 20rem;
}
.video-container-second{
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    position: absolute;
    top: 34%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.device-pik{
 
    overflow: clip;
}
.main-screen{
    z-index: 1;
}

.List-container{
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
    width: 100%;
}